#cookieModalChild {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.88;
	color: black;
}

/*! CSS Used from: https://www.turn-on.de/css/main.min.css?663664 */

#cookieModalChild a {
	text-decoration: underline;
}

#cookieModalChild button,
#cookieModalChild input {
	overflow: visible;
}

#cookieModalChild * {
	box-sizing: border-box;
}

#cookieModalChild footer,
#cookieModalChild header,
#cookieModalChild section {
	display: block;
}

#cookieModalChild a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

#cookieModalChild a:active,
#cookieModalChild a:hover {
	outline-width: 0;
}

#cookieModalChild button,
#cookieModalChild input {
	font: inherit;
	margin: 0;
}

#cookieModalChild button {
	text-transform: none;
}

#cookieModalChild button {
	-webkit-appearance: button;
}

#cookieModalChild button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

#cookieModalChild button:-moz-focusring {
	outline: ButtonText dotted 1px;
}

#cookieModalChild [type=checkbox] {
	box-sizing: border-box;
	padding: 0;
}

#cookieModalChild ::-webkit-input-placeholder {
	color: inherit;
	opacity: .54;
}

#cookieModalChild * {
	-webkit-font-smoothing: antialiased;
}


/*! CSS Used from: https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css */

#cookieModalChild .button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#cookieModalChild .button.is-loading::after {
	-webkit-animation: spinAround .5s infinite linear;
	animation: spinAround .5s infinite linear;
	border: 2px solid #fff;
	border-radius: 290486px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 1em;
	position: relative;
	width: 1em;
}

#cookieModalChild .modal,
#cookieModalChild .modal-background {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#cookieModalChild .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1em;
	height: 2.5em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(.5em - 1px);
	padding-left: calc(.75em - 1px);
	padding-right: calc(.75em - 1px);
	padding-top: calc(.5em - 1px);
	position: relative;
	vertical-align: top;
}

#cookieModalChild .button:active,
#cookieModalChild .button:focus {
	outline: 0;
}

#cookieModalChild p {
	margin: 0;
	padding: 0;
}

#cookieModalChild button,
#cookieModalChild input {
	margin: 0;
}

/* #cookieModalChild *,
#cookieModalChild ::after,
#cookieModalChild ::before {
	box-sizing: inherit;
} */

#cookieModalChild footer,
#cookieModalChild header,
#cookieModalChild section {
	display: block;
}

#cookieModalChild button,
#cookieModalChild input {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#cookieModalChild a {
	color: #3273dc;
	cursor: pointer;
	text-decoration: none;
}

#cookieModalChild a:hover {
	color: #363636;
}

#cookieModalChild input[type=checkbox] {
	vertical-align: baseline;
}

#cookieModalChild .is-clipped {
	overflow: hidden!important;
}

#cookieModalChild .button {
	background-color: #fff;
	border-color: #003972;
	border-width: 1px;
	color: #363636;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.5em - 1px);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: calc(.5em - 1px);
	text-align: center;
	white-space: nowrap;
}

#cookieModalChild .button:hover {
	border-color: #b5b5b5;
	color: #363636;
}

#cookieModalChild .button:focus {
	border-color: #3273dc;
	color: #363636;
}

#cookieModalChild .button:active {
	border-color: #4a4a4a;
	color: #363636;
}

#cookieModalChild .button.is-warning {
	background-color: #003972;
	border-color: transparent;
	color: rgba(255, 255, 255, 1);
}

#cookieModalChild .button.is-warning:hover {
	background-color: #003299;
	border-color: transparent;
	color: rgba(255, 255, 255, 1);
}

#cookieModalChild .button.is-warning:focus {
	border-color: transparent;
	color: rgba(0, 0, 0, .7);
}

#cookieModalChild .button.is-warning:active {
	background-color: #003299;
	border-color: transparent;
	color: rgba(255, 255, 255, 1);
}

#cookieModalChild .button.is-fullwidth {
	display: flex;
	width: 100%;
}

#cookieModalChild .button.is-loading {
	color: transparent!important;
	pointer-events: none;
}

#cookieModalChild .button.is-loading::after {
	position: absolute;
	left: calc(50% - (1em / 2));
	top: calc(50% - (1em / 2));
	position: absolute!important;
}

#cookieModalChild .modal {
	align-items: center;
	display: none;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: 9999;
}

#cookieModalChild .modal.is-active {
	display: flex;
}

#cookieModalChild .modal-background {
	background-color: rgba(10, 10, 10, .86);
}

#cookieModalChild .modal-card {
	margin: 0 20px;
	max-height: calc(100vh - 160px);
	overflow: auto;
	position: relative;
	width: 100%;
}

@media screen and (min-width:769px),
print {
	#cookieModalChild .modal-card {
		margin: 0 auto;
		max-height: calc(100vh - 40px);
		width: 640px;
	}
}

#cookieModalChild .modal-card {
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 40px);
	overflow: hidden;
	-ms-overflow-y: visible;
}

#cookieModalChild .modal-card-foot,
#cookieModalChild .modal-card-head {
	align-items: center;
	background-color: #ffffff;
	display: flex;
	flex-shrink: 0;
	justify-content: flex-start;
	padding: 20px;
	position: relative;
}

#cookieModalChild .modal-card-head {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

#cookieModalChild .modal-card-title {
	color: #003972;
	flex-grow: 1;
	font-size: 2em;
	line-height: 1;
	font-weight: bold;
}

#cookieModalChild .modal-card-foot {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 1px solid #dbdbdb;
}

#cookieModalChild .modal-card-body {
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
	padding: 20px;
}

#cookieModalChild .column {
	display: block;
	flex-basis: 0;
	flex-shrink: 1;
	padding: .75em;
}

#cookieModalChild .columns {
	margin-left: -.75em;
	margin-right: -.75em;
	margin-top: -.75em;
}

#cookieModalChild .columns:last-child {
	margin-bottom: -.75em;
}

#cookieModalChild .columns.is-mobile {
	display: flex;
}

#cookieModalChild .columns.is-multiline {
	flex-wrap: wrap;
}

@media screen and (min-width:769px),
print {
	#cookieModalChild .columns:not(.is-desktop) {
		display: flex;
	}
}


/*! CSS Used from: https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css */

#cookieModalChild .is-checkradio[type=checkbox] {
	outline: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	position: absolute;
	opacity: 0;
}

#cookieModalChild .is-checkradio[type=checkbox]+label {
	position: relative;
	display: initial;
	cursor: pointer;
	vertical-align: middle;
	margin: .5em;
	padding: .2em .5em .2em 0;
	border-radius: 4px;
}

#cookieModalChild .is-checkradio[type=checkbox]+label:first-of-type {
	margin-left: 0;
}

#cookieModalChild .is-checkradio[type=checkbox]+label:hover::before,
#cookieModalChild .is-checkradio[type=checkbox]+label:hover:before {
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: hover-color;
	animation-name: hover-color;
}

#cookieModalChild .is-checkradio[type=checkbox]+label::before,
#cookieModalChild .is-checkradio[type=checkbox]+label:before {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	border: .1em solid #dbdbdb;
}

#cookieModalChild .is-checkradio[type=checkbox]+label::after,
#cookieModalChild .is-checkradio[type=checkbox]+label:after {
	position: absolute;
	display: none;
	content: '';
	top: 0;
}

#cookieModalChild .is-checkradio[type=checkbox]:focus+label::before,
#cookieModalChild .is-checkradio[type=checkbox]:focus+label:before {
	outline: 1px dotted #b5b5b5;
}

#cookieModalChild .is-checkradio[type=checkbox]:hover:not([disabled])+label::before,
#cookieModalChild .is-checkradio[type=checkbox]:hover:not([disabled])+label:before {
	border-color: #00d1b2!important;
}

#cookieModalChild .is-checkradio[type=checkbox]:checked+label::before,
#cookieModalChild .is-checkradio[type=checkbox]:checked+label:before {
	border: .1em solid #dbdbdb;
}

#cookieModalChild .is-checkradio[type=checkbox]:checked[disabled] {
	cursor: not-allowed;
}

#cookieModalChild .is-checkradio[type=checkbox]:checked[disabled]+label {
	opacity: .5;
}

#cookieModalChild .is-checkradio[type=checkbox]:checked+label::before,
#cookieModalChild .is-checkradio[type=checkbox]:checked+label:before {
	-webkit-animation-name: none;
	animation-name: none;
}

#cookieModalChild .is-checkradio[type=checkbox]:checked+label::after,
#cookieModalChild .is-checkradio[type=checkbox]:checked+label:after {
	display: inline-block;
}

#cookieModalChild .is-checkradio[type=checkbox][disabled] {
	cursor: not-allowed;
}

#cookieModalChild .is-checkradio[type=checkbox][disabled]+label {
	opacity: .5;
	cursor: not-allowed;
}

#cookieModalChild .is-checkradio[type=checkbox][disabled]+label::after,
#cookieModalChild .is-checkradio[type=checkbox][disabled]+label::before,
#cookieModalChild .is-checkradio[type=checkbox][disabled]+label:after,
#cookieModalChild .is-checkradio[type=checkbox][disabled]+label:before,
#cookieModalChild .is-checkradio[type=checkbox][disabled]+label:hover {
	cursor: not-allowed;
}

#cookieModalChild .is-checkradio[type=checkbox][disabled]:hover {
	cursor: not-allowed;
}

#cookieModalChild .is-checkradio[type=checkbox][disabled]:hover::before,
#cookieModalChild .is-checkradio[type=checkbox][disabled]:hover:before {
	-webkit-animation-name: none;
	animation-name: none;
}

#cookieModalChild .is-checkradio[type=checkbox][disabled]::before,
#cookieModalChild .is-checkradio[type=checkbox][disabled]:before {
	cursor: not-allowed;
}

#cookieModalChild .is-checkradio[type=checkbox][disabled]::after,
#cookieModalChild .is-checkradio[type=checkbox][disabled]:after {
	cursor: not-allowed;
}

#cookieModalChild .is-checkradio[type=checkbox]+label::before,
#cookieModalChild .is-checkradio[type=checkbox]+label:before {
	border-radius: 4px;
}

#cookieModalChild .is-checkradio[type=checkbox]+label::after,
#cookieModalChild .is-checkradio[type=checkbox]+label:after {
	box-sizing: border-box;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-width: .1em;
	border-style: solid;
	border-color: #00d1b2;
	border-top: 0;
	border-left: 0;
}

#cookieModalChild .is-checkradio[type=checkbox]+label {
	font-size: 1em;
	padding-left: 2em;
}

#cookieModalChild .is-checkradio[type=checkbox]+label::before,
#cookieModalChild .is-checkradio[type=checkbox]+label:before {
	width: 1.5em;
	height: 1.5em;
}

#cookieModalChild .is-checkradio[type=checkbox]+label::after,
#cookieModalChild .is-checkradio[type=checkbox]+label:after {
	width: .375em;
	height: .6em;
	top: .405em;
	left: .6em;
}

#cookieModalChild .is-checkradio[type=checkbox].is-info:hover:not([disabled])+label::before,
#cookieModalChild .is-checkradio[type=checkbox].is-info:hover:not([disabled])+label:before {
	border-color: #209cee!important;
}

#cookieModalChild .is-checkradio[type=checkbox].is-info:checked+label::after,
#cookieModalChild .is-checkradio[type=checkbox].is-info:checked+label:after {
	border-color: #209cee!important;
}

/*! Collapsible */
#cookieModalChild .collapsible {
	background-color: #fff;
	color: black;
	cursor: pointer;
	padding: 0;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
  }
  
  #cookieModalChild .active, .collapsible:hover {
	background-color: #fff;
  }
  
  #cookieModalChild .collapsible:after {
	content: '\002B';
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }

  #cookieModalChild .right {
	margin-left:auto; 
	margin-right:0;
  }
  
  #cookieModalChild .active:after {
	content: "\2212";
  }
  
  #cookieModalChild .content {
	padding: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #fff;
  }

  #cookieModalChild .sbbtn {
	flex-grow: 1;
  }

/*! CSS Used from: https://cdn.jsdelivr.net/gh/lukeoiler/cookie-modal@1.0.1/cookiemodal.css */

#cookieModalChild .modal-card-head {
	border-radius: 0;
}

#cookieModalChild .consent-info-text {
	font-size: 0.8125em;
}

#cookieModalChild .modal-card-body {
	padding-bottom: 15px;
}

#cookieModalChild .modal-card-foot {
	justify-content: flex-end;
	border-radius: 0;
}

@media (min-width: 1281px) {
	#cookieModalChild .modal-card {
		max-width: 600px;
		min-width: 500px;
	}
	#cookieModalChild .column {
		flex-basis: auto;
	}
}

@media (min-width: 1025px) and (max-width: 1280px) {
	#cookieModalChild .modal-card {
		max-width: 600px;
		min-width: 500px;
	}
	#cookieModalChild .column {
		flex-basis: auto;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	#cookieModalChild .modal-card {
		max-width: 70%;
	}
	#cookieModalChild .cookie-bar {
		display: flex;
	}
	#cookieModalChild .column {
		flex-basis: auto;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#cookieModalChild .cookie-bar {
		display: flex;
	}
	#cookieModalChild .column {
		flex-basis: auto;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#cookieModalChild .modal-card {
		max-width: 90%;
	}
	#cookieModalChild .cookie-bar {
		display: flex;
	}
	#cookieModalChild .column {
		flex-basis: auto;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	#cookieModalChild .modal-card {
		max-width: 90%;
	}
}


/*! CSS Used keyframes */

@-webkit-keyframes spinAround {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes spinAround {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes spinAround {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
